* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #F5EDE1 0%, #E7D3C0 100%); 
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #fff;
    height: 172px;
    padding: 0 50px; 
    box-sizing: border-box;
    border-bottom: 1px solid #BDABA7;
}

header .logo {
    height: 91.96px;
    width: 116.77px;
    margin-left: 40px;
}

.about{
    font-weight: 700;
    color: #CA8636 !important;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #7D5A50;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}

.cart-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 50px;
}